.logo
{
	width:174px;
	height:147px;
}

#map 
{ 
	height: 400px; 
	width:100%;
}

#alert-container
{
	height:100px;
}

.alert
{
	margin-top:20px;
}

@font-face {
    font-family: stentiga; 
    src: url('../ressources/stentiga.ttf');
}

.texte
{
	color:rgb(46,45,119);
	font-family:stentiga;
}

.foot
{
	height:30px;
	background-color:black;
}

.ville
{
	position:absolute;
	bottom:30px;
	height:200px;
	width:200px;
}

h1
{
	margin-top:70px;
	color:rgb(230,113,37);
	font-family:stentiga;
}

